# HTTP server network
HTTP_HOST=0.0.0.0
HTTP_PORT=8000
HTTP_BUFFER_SIZE=4096

# Static files
HTTP_PUBLIC_DIR=public

# Server identity
HTTP_SERVER_NAME=UIT-HTTP-Server/1.0

# Static file cache
HTTP_CACHE_MAX_SIZE=100
HTTP_CACHE_TTL=60
